/* unvisited link */
a:link {
  color: rgb(31, 31, 161);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

/* visited link */
a:visited {
  color: rgb(61, 61, 60);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

body {
  margin-top: 275;
  margin-right: 125;
  color:  rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

h1 {
  position: fixed;
  top: 250;
  right: 100;
  color:  rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

h2 {
  color:  rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}