/*links*/

/* unvisited link */
a:link {
  color: rgb(16,78,139);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

/* visited link */
a:visited {
  color: rgb(16,78,139);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

/*text*/

/*main text*/
body {
  background-color: rgb(255,239,219);
  color:  rgb(255,255,255);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

/*headers*/
h1 {
  color:  rgb(255,255,255);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}

h2 {
  color:  rgb(255,255,255);
  text-decoration: none;
  font-family: "Palatino", Georgia, serif;
}